.video__iframes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* Двигаем элемент iframes вниз по оси Y */
  transform: translateY(50px);
}
