.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s ease-in;
}

.feynman__link:hover {
  opacity: 0.5;
}

