.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}