.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

/* Псевдоклассом :last-child обнуляем нижний отступ для последнего параграфа */
.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}