.resources__logo-zone {
  display: flex;
  margin-top: 80px;
  margin-bottom: 217px;
  list-style-type: none;
  width: 1100px;
  padding: 0;
  justify-content:space-around;
  max-height: 38px;
  position: relative;
}
