.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position:absolute;
  left:64px;
  top:30px;
  background-image: url("/images/logo_place_header.svg");
}

.header__title {
  position:absolute;
  width: 730px;
  left: 64px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;

}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}

.header__main-illustration {
  position:absolute;
  object-fit: cover;
  height: 608px;
  width: 765px;
  bottom:0;
  right:0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
}

.description {
 display: flex;
 justify-content: center;
 flex-direction: row;
 padding-top: 100px;
}

.two-columns {
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  width: 80%;
  display:flex;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  color: #2f80ed;

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top:0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}


.two-columns__span-accent {
  font-weight: 600;

}

.digits {
  display:flex;
  flex-direction: column;
  padding-top:100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin:0;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  font-weight: normal;
  margin:0;
  margin-top: 20px;
  text-align: center;
}

.table {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width:250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;

}

.table__text:last-child {
  padding-bottom: 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 890px;
  z-index: 1;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color:#2f80ed;
}

.feynman__img {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  object-fit: cover;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color:white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color:white;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color:white;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

.kaufman__triangle {
  position: absolute;
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
}

.logo_place_footer {
  background-image: url("/images/logo_place_footer.svg");
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
 flex-direction: column;
 align-content: center;
}

.footer__author {
  margin:0;
  padding-bottom: 18px;
  padding-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color:white;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color:white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
