.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  position:absolute;
}

.logo_place_header {
  background-image: url("/images/logo_place_header.svg");
  width: 228px;
  height: 32px;
  left:64px;
  top:30px;
}

.header__title {
  position:absolute;
  width: 730px;
  left: 64px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;

}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position:absolute;
  object-fit: cover;
  height: 608px;
  width: 765px;
  bottom:0;
  right:0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
}

.description {
 display: flex;
 justify-content: center;
 flex-direction: row;
 padding-top: 100px;
}

.two-columns {
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  width: 80%;
  display:flex;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  color: #2f80ed;

}

.two-columns__main-text {
  width: 80%;

  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;

}

.digits {
  display:flex;
  flex-direction: column;
  padding-top:100px;
  justify-content: center;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin:0;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  font-weight: normal;
  margin:0;
  margin-top: 20px;
  text-align: center;
}

.table {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  width: 1100px;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width:250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;

}

.table__text:last-child {
  padding-bottom: 0;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
