/* Весь контент нашей страницы будет находиться в блоке page с минимальной и максимальной шириной - 1100px и 1600px соответственно. */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*
  Правила для самого первого блока, для заголовка нашей страницы.
  Задано направление элементов внутри флекс-контейнера.
*/
.header {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

/*
  Блок "logo" будет использоватся два раза (в заголовке и в подвале страницы). 
  Уникальные изображения будут содержаться в модификаторах place_header и place_footer.
*/
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position:absolute;
  left:64px;
  top:30px;
  background-image: url("/images/logo_place_header.svg");
}

.header__title {
  margin:0;
  margin-left: 64px;
  width: 730px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  margin:0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}

.header__main-illustration {
  position:absolute;
  object-fit: cover;
  height: 608px;
  width: 765px;
  bottom:0;
  right:0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
}

.description {
 display: flex;
 justify-content: center;
 flex-direction: row;
 padding-top: 100px;
}

.two-columns {
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  width: 80%;
  display:flex;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  color: #2f80ed;

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top:0;
  margin-bottom: 30px;
}

/* Псевдоклассом :last-child обнуляем нижний отступ для последнего параграфа */
.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  display:flex;
  flex-direction: column;
  padding-top:100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

/*
  Правила для заголовков секции. Заголовки будут использованы несколько раз, с иными модификаторами.
  Обнуляем отступы для текстового контента.
*/
.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin:0;
  text-align: center;
}

/*
  Правила для подзаголовков секции. Подзаголовки будут использованы несколько раз, с иными модификаторами.
  Обнуляем отступы для текстового контента.
*/
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  font-weight: normal;
  margin:0;
  margin-top: 20px;
  text-align: center;
}

/* Блок "table", в котором будут размещены ячейки с текстом "table_cell" */
.table {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width:250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

/* 
  Блок с текстовым контентом, который наполнит ячейки table_cell. 
  Обнуляем отступы для текстового контента.
*/
.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}

/* Используем псевдокласс для обнуления нижнего отступа внутри блока table_cell */
.table__text:last-child {
  padding-bottom: 0;
}


.feynman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 890px;
  z-index: 1;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color:#2f80ed;
}

/* С помощью z-index "прячем" изображение под текст. */
.feynman__img {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  object-fit: cover;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

/*
  Модификатор theme_dark описывает правила для текста внутри блока kaufman.
  C помощью z-index поднимаем текстовый контент выше (по оси Z) треугольника kaufman_triangle.
*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color:white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color:white;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color:white;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

/* Синий треугольник реализован через background-image */
.kaufman__triangle {
  position: absolute;
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('/images/kaufman-triangle.svg');
  background-size: contain;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

/* Для модификатора "логотипа подвала" задаем только путь до уникального (для футера) изображения. Лого позиционируется через flex. */
.logo_place_footer {
  background-image: url("/images/logo_place_footer.svg");
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
 flex-direction: column;
 align-content: center;
}

.footer__author {
  margin:0;
  padding-bottom: 18px;
  padding-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color:white;
}

.footer__column-links {
  padding:0;
  margin:0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding-bottom: 16px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color:white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
