.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}

/* Используем псевдокласс для обнуления нижнего отступа внутри блока table_cell */
.table__text:last-child {
  padding-bottom: 0;
}